p{
    background-color: blue;
    color: silver;
}

h1 {
    padding: 50px;
    margin: 50px;
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
    color: silver;
}

h4, h2 {
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
    color: silver;
}
body {
    background-image: url("https://branding.ifas.ufl.edu/media/brandingifasufledu/virtual-backgrounds/Spiral.jpg");
    background-color: blue;
    max-width: 100%;
}
button {
    background-color: silver;
    border-radius: 25px;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
}
h3 {
    color: silver;
}